@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBMPlexMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/IBMPlexMono-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/IBMPlexMono-Bold.ttf) format('truetype');
}
