body {
  font-family: 'IBMPlexMono';
  color: #9fe4fc;
  background-color: #13132f;
}

h2 {
  color: white;
  font-weight: normal;
}

a {
  color: #e9daa6;
}

input[type='checkbox'] {
  appearance: none;

  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 3px;

  background-clip: content-box;
  border: 1.5px solid #9fe4fc;
  border-radius: 6px;
  margin-left: 15px;
  margin-right: 15px;
}

input[type='checkbox']:checked {
  background-color: #9fe4fc;
}

input[type='checkbox']:focus {
  outline: none !important;
}

td {
  padding: 0 25px;
}

.selected {
  background-color: rgba(159, 228, 252, 0.19);
}

.danger {
  color: #d37661;
}

.success {
  color: #8fcc79;
}
